* {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 16px;
  background-color: #730064;
  --primary-color: #730064;
  --secondary-color:#73002B;
  --tertiary-color:#490073;

}
/* this removes margin and padding on the browser */
html, body {
  margin: 0;
  padding: 0;
}


header {
  /* position: fixed; */
  background-color: #490073;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#hero-pic {
  padding-left: 200px;
  height: 50px;
  background-color: var(--tertiary-color)
  
}

header div {
  background-color: 490073;
  width: 325px;
  text-align: right;
  padding-right: 30px;
  background-color: var(--tertiary-color);
}

nav { 
  display: flex; 
  flex-wrap: wrap;
  padding-right: 20px;
}

header nav a {
  background-color: var(--tertiary-color);
  /* transition: 1s; */
  font-size: 30px;
  /* outline: 2px solid red;
   */
  text-decoration: none;
  padding: 5px 5px 5px 5px;  
  /* padding-left: .2rem;
  padding-right: .2rem; */
  border-bottom: 2px solid var(--primary-color);
  /* border-top: 2px solid blue; */
  margin-right: .75rem;    
}

/* header nav a:hover {  
  border-bottom: 2px solid red;
  border-top: 2px solid red;   
} */

header div h1 {  
  color: white;
  background-color: var(--tertiary-color);
  font-size: 40px;
}

.subheading {
  margin-top: 0;
  background-color: var(--tertiary-color);
  height: 150px;
}

.subheading h2 {
  background-image: url(../images/subbanner-image.jpg);
  background-size: cover;  
  background-position: center;
  background-color: var(--secondary-color);
  background-blend-mode: multiply;  
  background-position-y: 0px;  
  background-repeat: no-repeat;

  font-style: oblique;
  position: relative;
  margin: auto;  
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: bottom;
  font-size: 30px;
  background-color: purple;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
}

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 12px;
}

section div.section-title{  
  width: 25%;
  border-right: 5px solid white;
  text-align: right;
  padding-right: 10px;
}

section div.section-title h3 {
  font-size: 40px;
  color: white;
}

section div.section-content {
  width: 75%;  
}

div.work-items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

#one {
  background-image: url(../images/clock-image.jpg);
  background-size: 800px;
  background-position: center;
  
}
#two {
  background-image: url(../images/sky-image.jpg);
  background-size: 800px;
  background-position: center;
}
#three {
  background-image: url(../images/cool-app.jpg);
  background-size: cover;
  /* background-size: 360px; */
  background-position: center;
}
#four {
  background-image: url(../images/eclipse.jpg);
  background-size: 800px;
  background-position: center;
}
#five {
  background-image: url(../images/galactic-trading.jpg);
  background-size: cover;  
  background-position: center;
}

div.work-items .item {  
  transition: .75s;
  opacity: 50%;
  background-color: grey;
  width: 49%;  
  height: 200px;
  outline: 5px solid var(--secondary-color);
}

div.work-items .item.item:hover {
  transition: .75s;
  opacity: 100%;
}

.item .tag{
  
  text-align: left;
  width: dynamic;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;  
  background-color: var(--primary-color);
  position: absolute;
  /* outline: 2px solid red; */
}

.item .tag .title {
  background-color: var(--primary-color);  
  margin: 5px;
  font-size: 22px;
  font-weight: bolder;
  
}

.item .tag .subtitle {
  background-color: var(--primary-color);  
  margin: 5px;
  font-size: 18px;
}

div.work-items a.main-item {
  width: 100%;
}

div.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  margin-right: 1rem;    
  padding-left: 2rem;
}

div.contact-info a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 10px 15px 0;  
  /* border-bottom: 2px solid blue;
  border-top: 2px solid blue; */
}

div.contct-info a:hover {  
  border-bottom: 2px solid red;
  border-top: 2px solid red; 
}

/* can use flex grow and flex shrink too */
/* it can control the size of the boxes how they shrink when */
@media screen and (max-width: 1281px){
  div.work-items .item {
    width: 100%;
  }

}


@media screen and (max-width: 1000px) {
  header {
    height:170px
  }
}

@media screen and (max-width: 600px) {
  header {
    height:270px
  }
  .item .tag {
    width: 160px;
  }
  
  section {
    width:90%;
    flex-direction: column;   
  }

    section div.section-title {
    width: 100%;
    border-right: none;
    border-bottom: 5px solid white; 
    text-align: left;
  }
  
  section div.section-content {
    width: 100%;    
  }
  
  div.work-items div{
    width: 100%;
  }
  
  /* div.work-items .item {  
    width: 30%;  
  }   */
  
  header nav a {
    padding: 0;
    border: none;
  }
  div.contact-info {
    display:flex;
    flex-direction: column;
  }
}

@media screen and (max-width:540px){  
          
  div.work-items .item {
    width: 100%;
  }
}
  

@media screen and (max-width: 390px){

  .item .tag {
    width: 160px;
  }

  nav { 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 180px;
  }

  .subheading h2 {
    padding-top: 100px;
    font-size: 20px;
    padding-left: 0px;
    width: 100%

  }

}



